* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

header {
    width: 100%;
}

.hamburger-menu {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    /* padding-inline: 3.5rem; */
    align-items: center;
}

menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 320px) {
    body {
        padding-inline: 1rem;
    } 

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .fa-solid.fa-magnifying-glass {
        display: none;
    }

    .fa-solid.fa-bag-shopping {
        display: none;
    }

    #hero-section {
        margin-top: 1.5rem;
    }

    .img-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .img-hero figure img {
        display: block;
    }

    .text-hero {
        line-height: 1.1;
    }

    .text-hero h1 {
        margin-bottom: 0.8rem;
    }

    .text-hero p {
        margin-bottom: 1rem;
    }

    #brands {
        margin: 4.5rem 0;
    }

    .shop-now {
        padding: 13px 0;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        background-color: #e09370;
        width: 100%;
    }

    .brands-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    #top-selections {
        margin-bottom: 1.5rem;
    }

    .fashion {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
        color: #f4f4f4;
    }

    .hijab, .bag, .shoes {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .hijab h2, .bag h2, .shoes h2 {
        margin-bottom: 2em;
    }

    .hijab {
        border-radius: 10px;
        width: 300px;
        height: 300px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/hijab.png");
        background-position: center;
        background-size: cover;
    }

    .bag {
        border-radius: 10px;
        width: 300px;
        height: 300px;
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bag.png");
        background-position: center;
        background-size: cover;
    }

    .shoes {
        border-radius: 10px;
        width: 300px;
        height: 300px;
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/shoes.png");
        background-position: center;
        background-size: cover;
    }

    #bestsellers {
        margin-bottom: 2.5rem;
    }

    .bestsellers-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .bestsellers-title a {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: #e09370;
    }

    .bestsellers-item {
        border: 1px solid gray;
        border-radius: 10px;
        width: max-content;
        padding: 10px;
    }

    .rating {
        display: inline-flex;
        align-items: center;
    }

    .rating img {
        margin-right: 7px;
    }

    .bestsellers-item .normal-price {
        color: #FF4530;
        font-size: small;
        text-decoration: line-through;
        text-decoration-color: #FF4530;
    }

    #order {
        margin-bottom: 1.5rem;
    }

    .order-wrapper {
        border-radius: 10px;
        background-color: #f5ccab;
        padding: 1.5rem 0;
        text-align: center;
        width: 100%;
    }

    .order-wrapper h2 {
        margin-bottom: 1.5rem;
    }

    .steps-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: max-content;
        margin: 0 auto;
    }

    .number-step {
        display: inline-block;
        padding: 8px 13px;
        background-color: wheat;
        border-radius: 100vw;
    }

    .steps {
        display: flex;
        gap: 1.5rem;
        width: fit-content;
        align-items: center;
    }

    #newsletter {
        margin-bottom: 1.5rem;
    }

    #newsletter h2 {
        font-size: 22px;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #email {
        padding: 10px;
        border: 1px solid gray;
        width: 83%;
        border-radius: 8px;
    }

    .submit {
        display: inline-flex;
        border-radius: 7px;
        border: none;
        padding: 9px;
        background-color: #e09370;
    }

    .download {
        margin-bottom: 1rem;
    }

    .btn-dwld-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .appstore-btn, .playstore-btn {
        background-color: black;
        border: none;
        border-radius: 8px;
        color: #f4f4f4;
        padding: 7px 23px;
    }

    .appstore, .playstore {
        font-size: 15px;
    }

    .appstore-btn div, .playstore-btn div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .appstore-btn div p, .playstore-btn div p {
        font-size: 10px;
    }
}